@import url("https://fonts.googleapis.com/css?family=Caveat:regular,500,600,700&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Bad+Script:regular&display=swap&subset=cyrillic-ext");
@import url("https://fonts.googleapis.com/css?family=Marck+Script:regular&display=swap&subset=cyrillic-ext");

@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-LightItalic.woff2") format("woff2"), url("../fonts/Gilroy-LightItalic.woff") format("woff");
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Gilroy";
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

/* Стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
	width: 50%;
}
body {
	color: #9a9a9a;
	line-height: 1;
	font-family: "Gilroy", sans-serif;
	margin: 20px;
	line-height: 30px;
}
/* ------------------ */

h1 {
	color: coral;
	margin: 40px;
	font-size: 44px;
	font-family: "Bad Script";
}

h2 {
	color: fuchsia;
	margin: 40px;
	font-family: "Marck Script", serif;
	font-size: 40px;
	text-decoration: underline;
}

h3 {
	color: deeppink;
	margin: 20px;
	font-family: "Gilroy";
	font-size: 24px;
	text-shadow: 1px 1px 2px #000;
}
.recomend {
	font-family: "Caveat", serif;
	margin: 20px;
	white-space: 5px;
	font-weight: 700;
}

.title span {
	color: chocolate;
	text-shadow: -1px -1px 1px greenyellow;
}

.nav {
	font-size: 22px;
	color: royalblue;
}
.recomend .list_num {
	font-size: 34px;
	color: rgb(36, 128, 0);
	margin-left: 50px;
	margin: 30px;
	text-shadow: 1px 1px 1px red;
}

.entry {
	color: khaki;
	font-family: "Gilroy";
}
.first__part {
	color: olive;
	font-family: "Bad Script";
	text-decoration: underline;
	text-align: center;
}
.text__title {
	color: peru;
	font-weight: italic;
	text-shadow: 1px 1px 1px #000;
}
.midle__part {
	color: plum;
	font-family: "Marck Script";
	font-size: 26px;
	line-height: 25px;
	text-decoration: overline;
	text-align: justify;
}
.last__part {
	color: salmon;
	font-size: 30px;
	font-family: Caveat;
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	text-shadow: 1px 1px 1px #000;
	text-align: right;
}

.footer {
	font-weight: 700;
	font-style: unset;
}

.recomend p {
	font-size: 34px;
	text-align: center;
}
